# For Gradle
build
.gradle

# For RobotFramework
acceptance/.python-version
acceptance/*.png
acceptance/log.html
acceptance/output.xml
acceptance/report.html


# For IntelliJ/AndroidStudio
*.iml
.idea

# For Mac
.DS_Store

# For Windows
.classpath

# For Local
.project
.settings
.navigation
local.properties
captures
.externalNativeBuild

proguard
.class